[submodule "Adafruit_MotorShield"]
	path = Adafruit_MotorShield
	url = https://github.com/adafruit/Adafruit_Motor_Shield_V2_Library.git
[submodule "BooleanSensor"]
	path = BooleanSensor
	url = https://github.com/WCRSyyc/BooleanSensor.git
[submodule "RF24"]
	path = RF24
	url = https://github.com/nRF24/RF24.git
[submodule "LiquidCrystall595"]
	path = LiquidCrystall595
	url = https://github.com/WCRSyyc/LiquidCrystal595.git
[submodule "LedControl"]
	path = LedControl
	url = https://github.com/wayoda/LedControl.git
